.post-box {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 1rem;
    margin: 2px;
}

.post-box .body {
    padding: 1rem 0rem;
}

.post-box .author {
    font-weight: 600;
}

.post-box .timestamp {
    font-weight: 300;
    color: grey;
    font-style: italic;
}

.new-post-heading {
    font-size: 1.3rem;
    font-weight: 600;
}

.like-button {
    border: none;
    background: none;
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.unlike-svg {
    fill: red;
    stroke: red;
}